<template>
  <v-row justify="center">
    <v-dialog v-model="showForm" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Add New Walk</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Walk Name"
                  v-model="name"
                  type="text"
                  required
                />
                <v-text-field
                  label="Image link"
                  v-model="img"
                  type="text"
                  required
                />
                <v-checkbox label="Pickup?" v-model="is_pickup" />

                <v-text-field
                  label="Description"
                  v-model="description"
                  type="text"
                  required
                />

                <!--                <v-date-picker v-model="walk_date"></v-date-picker> -->

                <v-text-field
                  label="Pickup Location"
                  v-model="pickup_location"
                  type="text"
                />

                <v-text-field
                  label="Start Location"
                  v-model="start_location"
                  type="text"
                />

                <v-text-field
                  label="End Location"
                  v-model="end_location"
                  type="text"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click.stop="hideForm">Close</v-btn>
          <v-btn color="blue darken-1" text v-on:click="addWalk()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import store from "../../store";

export default {
  computed: {
    showForm() {
      return store.state.addWalkFormVisible;
    }
  },
  data: () => ({
    name: "",
    img: "",
    is_pickup: false,
    description: "",
    pickup_location: "",
    start_location: "",
    end_location: "",
    walk_date: new Date().toISOString().substr(0, 10)
  }),
  methods: {
    addWalk: function() {
      store.dispatch("addWalk", {
        name: this.name,
        img: this.img,
        isPickup: this.isPickup,
        description: this.description,
        pickup_location: this.pickup_location,
        start_location: this.start_location,
        end_location: this.end_location,
        walk_date: this.walk_date
      });
      this.hideForm();
    },
    hideForm() {
      store.commit("setAddWalkFormVisible", false);
    }
  }
};
</script>

<style></style>
