<template>
  <v-row justify="center">
    <v-dialog v-model="showForm" persistent max-width="600px">
      <v-card>
        <v-card-title class="headline">Delete Walk?</v-card-title>
        <v-card-text
          >Are you sure you want to delete the walk "{{
            selectedWalk.name
          }}"?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="hideForm">Cancel</v-btn>
          <v-btn color="green darken-1" text @click="deleteWalk"
            >Delete Walk</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import store from "../../store";

export default {
  computed: {
    showForm() {
      return store.state.deleteWalkFormVisible;
    },
    selectedWalk() {
      return store.state.selectedWalk;
    }
  },
  methods: {
    deleteWalk: function() {
      store.dispatch("deleteWalk", store.state.selectedWalk);
      this.hideForm();
    },
    hideForm() {
      store.commit("setDeleteWalkFormVisible", false);
    }
  }
};
</script>

<style></style>
