<template>
  <v-row justify="center">
    <v-dialog v-model="showForm" persistent max-width="600px" @keydown.enter="editWalk" @keydown.esc="hideForm">
      <v-card>
        <v-card-title>
          <span class="headline">Edit Walk</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Walk Name"
                  v-model="selectedWalk.name"
                  type="text"
                  required
                />
                <v-text-field
                  label="Image link"
                  v-model="selectedWalk.img"
                  type="text"
                  required
                />
                <v-checkbox label="Pickup?" v-model="selectedWalk.is_pickup" />

                <v-text-field
                  label="Description"
                  v-model="selectedWalk.description"
                  type="text"
                  required
                />

                <!--                <v-date-picker v-model="walk_date"></v-date-picker> -->

                <v-text-field
                  label="Pickup Location"
                  v-model="selectedWalk.pickup_location"
                  type="text"
                />

                <v-text-field
                  label="Start Location"
                  v-model="selectedWalk.start_location"
                  type="text"
                />

                <v-text-field
                  label="End Location"
                  v-model="selectedWalk.end_location"
                  type="text"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click.stop="hideForm">Close</v-btn>
          <v-btn color="blue darken-1" text @click.stop="editWalk">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import store from "../../store";

export default {
  props: {
    value: Boolean
  },
  computed: {
    showForm() {
      return store.state.editWalkFormVisible;
    },
    selectedWalk() {
      return store.state.selectedWalk;
    },
    loading() {
      return !store.state.selectedWalk;
    },
    loadingVisible() {
      return !store.state.selectedWalk;
    }
  },
  methods: {
    editWalk() {
      store
        .dispatch("editWalk", store.state.selectedWalk)
        .then(this.hideForm());
    },
    hideForm() {
      store.commit("setEditWalkFormVisible", false);
    }
  }
};
</script>

<style></style>
