<template>
  <v-app id="inspire">
    <NavDrawer></NavDrawer>
    <router-view></router-view>

    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import NavDrawer from "./components/NavDrawer";

export default {
  props: {
    source: String
  },
  components: {
    NavDrawer
  }
};
</script>
