<template>
  <div>
    <v-navigation-drawer v-model="drawer" app>
      <v-list dense>
        <v-list-item @click="$router.push('/walks')">
          <v-list-item-action>
            <v-icon>mdi-walk</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Walks</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="$router.push('/users')">
          <v-list-item-action>
            <v-icon>mdi-account</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Users</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="indigo" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Walk Manager</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn text @click.stop="resetData">Reset Data</v-btn>
    </v-app-bar>
  </div>
</template>

<script>
import store from "../store";

export default {
  data: () => ({
    drawer: null
  }),
  methods: {
    resetData() {
      store.dispatch("resetData");
    }
  }
};
</script>
