<template>
  <v-container>
    <v-col cols="12">
      <v-card class="mx-auto">
        <v-list>
          <v-list-item-group>
            <v-list-item v-for="(user, i) in users" :key="i">
              <v-list-item-content>
                <v-list-item-title v-text="user.name"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card>
    </v-col>
  </v-container>
</template>

<script>
import store from "../store";

export default {
  computed: {
    users() {
      return store.state.users;
    }
  },
  mounted() {
    store.dispatch("getUsers");
  }
};
</script>

<style></style>
