<template>
  <div>
    <v-container v-show="loading">
      <v-row>
        <v-col xs="12" sm="6" md="4" v-for="i in 3" :key="i">
          <v-skeleton-loader class="mx-auto" max-width="400px" type="image, article, actions"></v-skeleton-loader>
        </v-col>
      </v-row>
    </v-container>
    <v-container>
      <v-row>
        <v-col xs="12" sm="6" md="4" v-for="walk in walks" :key="walk.oid_walk">
          <v-card class="mx-auto" max-width="400">
            <v-img
              class="white--text align-end"
              :src="walk.img"
              height="300"
              eager
            >
              <v-card-title>{{ walk.name }}</v-card-title>
            </v-img>

            <v-card-text>
              {{ walk.description }}
            </v-card-text>

            <v-card-text>
              <div>
                {{ walk.start_location }}
              </div>
              <div>
                {{ walk.end_location }}
              </div>
            </v-card-text>
            <v-card-actions>
              <v-layout align-end justify-end>
                <v-btn @click.stop="showEditWalkForm(walk)">
                  <v-icon left>mdi-pencil</v-icon>
                  Edit
                </v-btn>
                <v-btn @click.stop="showDeleteWalkForm(walk)">
                  <v-icon left>mdi-delete</v-icon>
                  Delete
                </v-btn>
              </v-layout>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import store from "../store";

export default {
  data() {
    return {
      three: 3
    };
  },
  computed: {
    walks() {
      return store.state.walks;
    },
    loading() {
      return store.state.walks.length === 0;
    }
  },
  mounted() {
    store.dispatch("getWalks");
  },
  methods: {
    showEditWalkForm: function(walk) {
      store.dispatch("showEditWalkForm", walk);
    },
    showDeleteWalkForm: function(walk) {
      store.dispatch("showDeleteWalkForm", walk);
    }
  }
};
</script>

<style></style>
