<template>
  <v-content>
    <v-container>
      <v-row>
        <Users></Users>
      </v-row>
    </v-container>
    <AddUser></AddUser>
  </v-content>
</template>

<script>
import Users from "../components/Users";
import AddUser from "../components/modals/AddUser";

export default {
  components: {
    Users,
    AddUser
  }
};
</script>
