<template>
  <v-content>
    <Walks></Walks>
    <v-btn
      dark
      fab
      bottom
      right
      fixed
      color="pink"
      @click.stop="showAddWalkForm"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <AddWalkForm />
    <EditWalkForm />
    <DeleteWalkForm />
  </v-content>
</template>

<script>
import store from "../store";
import Walks from "../components/Walks";
import AddWalkForm from "../components/modals/AddWalkForm";
import EditWalkForm from "../components/modals/EditWalkForm";
import DeleteWalkForm from "../components/modals/DeleteWalkForm";

export default {
  components: {
    Walks,
    AddWalkForm,
    EditWalkForm,
    DeleteWalkForm
  },
  methods: {
    showAddWalkForm() {
      store.commit("setAddWalkFormVisible", true);
    }
  }
};
</script>
